body {
	width: 700px;
}

.cur_ctnr{
	
}

.cur_info_box{
	padding: 0px 10px 0px 10px;
	overflow: scroll;
}

ul {
	list-style-type: none;
	padding: 0px 10px 0px 10px;
	margin: 0;
}

h4,h3{
	padding: 0px;
    margin: 0px;
}

#saved_container tr {
	vertical-align: top;
}

.b_remove {
	color: red;
}

ul li ul {
    display: none;
} 

a {
    color: blue;
}
